@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

/* general stuff */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, input, textarea {
	font-family: 'Lato', 'Verdana', sans-serif;
	font-size: 14px;
}

body {
	background-color: #111;
	color: #eee;
}

p {
	margin-bottom: 0.75em;
}

/* top dashboard */

div.top-bar-dashboard {
	background-color: #222;
}

div.top-bar-dashboard > div {
	float: left;
	width: 130px;
	padding: 0.2em;
}

div.top-bar-dashboard div.console-name {
	font-weight: 700;
}

div.top-bar-dashboard div.hull-points {
	color: #ff685b;
}

div.top-bar-dashboard div.shield-points {
	color: #6794ff;
}

div.top-bar-dashboard div.energy-usage {
	color: #00b937;
}

div.top-bar-dashboard div.ship-name {
	float: right;
	width: auto;
	padding-right: 1em;
}

/* basic interface elements */

fieldset {
	border-radius: 3px;
	padding: 1em 1em 0 1em;
	border: 2px solid #888;
	margin-bottom: 1em;
}

fieldset legend {
	color: #888;
	padding: 0.25em;
}

div.toggles fieldset {
	border-color: #0d2636;
}

div.button {
	width: 150px;
	padding: 1em;
	color: white;
	background-color: #27981B;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 1em;
	transition: all 300ms ease;
}

div.button:hover {
	background-color: #38ba1e;
}

div.button.toggle {
	background-color: #333;
}

div.button.toggle.on {
	background-color: #1a609a;
}

div.button.toggle.off {
	background-color: #0d2636;
	color: #898989;
}

div.dummy {
	clear: both !important;
	float: none !important;
	height: 0 !important;
	width: 0 !important;
	padding: 0 !important;
}

div.warning-indicator-panel div.warning-indicator {
	/*margin: 1em;*/
}

div.warning-indicator-panel fieldset {
	border-color: #450000;
}

div.warning-indicator {
	width: 150px;
	padding: 1em;
	color: #777;
	background-color: #333;
	border-radius: 3px;
	text-align: center;
	cursor: default;
	font-size: 16px;
	margin-bottom: 1em;
}

div.warning-indicator.off {
	background-color: #450000;
	color: #888;
}

div.warning-indicator.on {
	background-color: red;
	color: white;
	font-weight: 900;
}

/* helm stuff */

body#helm div.map {
	width: 500px;
	float: left;
	margin-left: 1em;
}

body#helm div#map {
	
}

body#helm div.speed-controls fieldset {
	border-color: #27981B;
}

body#helm div.right-panel {
	margin: 1em 1em 1em 500px;
}

body#helm div.right-subpanel {
	float: left;
	margin: 1em;
}

body#helm div.toggles canvas {
	margin-bottom: 1em;
}

body#helm div.helm-controls {
	float: left;
	width: 500px;
	height: 200px;
	margin: 1em;
}

body#helm div.indicators {
	margin: 1em 1em 1em 500px;
}